*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
body{
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color: transparent;
    justify-content: space-between;
    position: absolute;
}
.navbar nav {
    display: flex;
    float: right;
    margin-top: 4vh;
    margin-right: 100px;
}
.navbar nav ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    margin: 20px;  
}
.btn{
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}
.container{
    width: 100%;
    position: absolute;
    justify-content: center;
    align-content: center;
}
.btn2{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 15px;
    margin: 30px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    background-color: brown;
}
li:hover{
    cursor: pointer;
}
h1{
    font-size: 50px;
    margin: 30px;
}
p{
    font-weight: 500;
    margin: 30px;
}
