*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
body{
    background-image: url('images/back.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color: transparent;

}
.navbar nav {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 4vh;
    margin-right: 100px;
}
.navbar nav ul a{
    color: white;
    list-style: none;
    text-decoration: none;
    font-weight: 700;
    margin: 20px;  
}
.btn{
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}